body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
}

.main-container {
    display: flex;
}

.first-part {
    background-image: url(images/bg-main-desktop.png);
    width: 30%;
    height: 100vh;
}

.second-part {
    width: 70%;
    height: 100vh;
}

.back-card-image {
    width: 400px;
    left: 75%;
    top: 55%;
    position: relative;
}

.front-card-image {
    width: 400px;
    left: 15%;
    top: 135px;
    position: absolute;
}

.card-design {
    top: -4em;
    left: 14em;
    width: 75%;
    position: relative;
}

.img-cvc-no {
    top: 26.3em;
    left: 37em;
    color: #fff;
    position: absolute;
}

.img-card-no {
    font-size: 1.8rem;
    margin-top: 2em;
    color: #fff;
}

.img-card-details {
    margin-top: -1.5em;
    color: #fff;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

/* .card_form {
    display: none;
} */

form {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 7em 25em;
}

label {
    margin: 2em 0 0.4em 0;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

input {
    height: 35px;
    border-radius: 5px;
    padding: 0 1em;
}

.date {
    margin-top: 2em;
    display: flex;
}

.exp-date input {
    width: 60px;
    margin-top: 0.7em;
}

.cvc {
    display: flex;
    flex-direction: column;
    margin: -1em 0 2em 3.2em;
    width: 34%;
}

#completed {
    display: none;
    text-align: center;
    margin: 11em 0 0 10em;
}

#completed button {
    padding: 0.7em 6em;
}

button {
    font-size: 18px;
    padding: 0.7em;
    text-transform: capitalize;
    background: #000;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 360px) {
    .main-container {
        flex-direction: column;
        height: 100vh;
    }
    .first-part {
        background: url(/images/bg-main-mobile.png);
        width: 100vw;
        height: 120px;
    }
    .front-card-image {
        width: 45%; 
        top: 80px;
        left: 75px;
    }
    .back-card-image {
        left: 105px;
        top: 40px;
        width: 45%;
    }
    .second-part {
        width: 90%;
        font-size: 0.5rem;
    }
    form {
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        margin: 6em 0 0 0 ;
    }
    label {
        height: 20px;
        font-size: 1rem;
    }
    input {
        height: 30px;
    }
    .date {
        flex-direction: row;
    }
    .exp-date input{
        width: 20%;
    }
    .card-date {
        height: 55%;
    }
    .cvc {
        width: 25%;
        margin-left: 8em;
    }
    button {
        padding: 0.5em;
        margin: 2em 4em;
        font-size: 1rem;
    }
    #completed {
        text-align: center;
        margin: 10em 2em 0 4em;
    }
    #completed button {
        padding: 0.7em 2em;
    }
}