body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SpaceGrotesk", sans-serif;
    font-size: 18px;
}

.main-container {
    display: flex;
}

.first-part {
    background-image: url(images/bg-main-desktop.png);
    width: 30%;
    height: 100vh;
}

.second-part {
    width: 70%;
    height: 100vh;
}

.back-card-image {
    width: 400px;
    left: 75%;
    top: 55%;
    position: relative;
}

.front-card-image {
    width: 400px;
    left: 15%;
    top: 135px;
    position: absolute;
}

form {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 7em 25em;
}

label {
    margin: 2em 0 0.4em 0;
}

input {
    height: 35px;
    border-radius: 5px;
}

.date {
    margin-top: 2em;
    display: flex;
}

.exp-date input {
    width: 60px;
    margin-top: 0.7em;
}

.cvc {
    display: flex;
    flex-direction: column;
    margin: -2em 0 2em 3.2em;
}

button {
    font-size: 18px;
    padding: 0.7em;
    text-transform: capitalize;
    background: #000;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 360px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .first-part {
        background: url(/images/bg-main-mobile.png);
        width: 100vw;
        height: 120px;
    }
    .front-card-image {
        width: 45%; 
        top: 100px;
        left: 75px;
    }
    .back-card-image {
        left: 105px;
        top: 30px;
        width: 45%;
    }
    .second-part {
        width: 80%;
        border: 1px solid red;
        font-size: 0.8rem;
    }
    form {
        padding: 1em;
        display: flex;
        flex-direction: column;
        margin-left: 2em;
    }
    label {
        width: 150px;
        height: 20px;
        font-size: 1rem;
    }
    input {
        height: 30px;
        width: 200%;
    }
    .date {
        flex-direction: row;
    }
    .exp-date input{
        width: 25%;
        flex-direction: column;
    }
    .card-date {
        height: 55%;
    }
    .cvc {
        width: 25%;
        margin-left: 8em;
    }
    button {
        padding: 0.5em;
        font-size: 1rem;
    }
}